@model IEnumerable<WriterPlatformApp.WEB.ViewModels.TitleViewModel>

@{
    ViewBag.Title = "Произведения";
}
@Styles.Render("~/Content/css")

<!--search-->
<div class="col-md-9 col-md-push-1 float-md-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form action="#" method="get" id="searchForm" class="input-group">
                    <div class="input-group-btn btn-outline-primary">
                        <select name="search_param" id="search_param"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            <option value="author">Author</option>
                            <option value="title">Title</option>
                            <option value="genre">Genre</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="search_text"
                           name="name" placeholder="Search term...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="search_submit">
                            <span class="fas fa-search"></span>
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<!--sort-->
<div class="btn-group float-md-right" role="group">
    <div class="btn-group" role="group">
        <button id="sort-button" type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Sort</button>
        <div class="dropdown-menu"
             id="menu-sort"
             aria-labelledby="sort-button">
            <a class="dropdown-item" id="genre-sort">By Genre</a>
            <a class="dropdown-item" id="rating-sort">By Rating</a>
            <a class="dropdown-item" id="comment-sort">By Comment</a>
        </div>
    </div>
</div>







<p class="btn btn-outline-primary">
    @Html.ActionLink("Create New", "Create")
</p>

<div id="alert-div">

</div>

@Scripts.Render("~/bundles/titleindexscript")
<div class="container" id="titles_list">

</div>












